Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2022-11, with the labels that each got.

#32 Add a resampling actor
  examples/sdk_resampling_example.py
  noxfile.py
  src/frequenz/sdk/data_ingestion/resampling/component_metric_group_resampler.py
  src/frequenz/sdk/data_ingestion/resampling/component_metric_resampler.py
  src/frequenz/sdk/data_ingestion/resampling/component_metrics_resampling_actor.py
  tests/actor/test_component_metrics_resampling_actor.py
  tests/data_ingestion/test_group_timeseries_resampler.py
  tests/data_ingestion/test_timeseries_resampler.py
Labels: part:tests, part:data-pipeline

#68 Clean ups and improvements to the resampler (mostly)
  examples/sdk_resampling_example.py
  minimum-requirements-ci.txt
  noxfile.py
  pyproject.toml
  src/frequenz/sdk/actor/data_sourcing/__init__.py
  src/frequenz/sdk/actor/data_sourcing/data_sourcing.py
  src/frequenz/sdk/actor/data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/data_sourcing/types.py
  src/frequenz/sdk/actor/resampling.py
  src/frequenz/sdk/data_handling/time_series.py
  src/frequenz/sdk/data_ingestion/formula_calculator.py
  src/frequenz/sdk/data_ingestion/load_historic_data.py
  src/frequenz/sdk/data_ingestion/microgrid_data.py
  src/frequenz/sdk/data_ingestion/resampling/component_metric_group_resampler.py
  src/frequenz/sdk/data_ingestion/resampling/component_metric_resampler.py
  src/frequenz/sdk/data_pipeline/__init__.py
  src/frequenz/sdk/power_distribution/power_distributor.py
  src/frequenz/sdk/power_distribution/utils.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_resampler.py
  src/frequenz/sdk/timeseries/sample.py
  tests/actor/test_component_metrics_resampling_actor.py
  tests/actor/test_data_sourcing.py
  tests/actor/test_resampling.py
  tests/data_ingestion/test_group_timeseries_resampler.py
  tests/data_ingestion/test_timeseries_resampler.py
  tests/power_distribution/test_distribution_algorithm.py
  tests/power_distribution/test_power_distributor.py
  tests/test_data_handling/test_formula.py
  tests/test_data_handling/test_handle_historic_data.py
  tests/test_data_handling/test_time_series.py
  tests/test_microgrid/test_client.py
  tests/test_microgrid/test_component_data.py
  tests/timeseries/test_resampling.py
Labels: part:tests, part:tooling, priority:high, type:bug, type:enhancement, type:tech-debt, part:data-pipeline, part:power-distribution, part:actor

#76 Update the SDK codebase to work with the latest channel version
  benchmarks/data_ingestion/benchmark_microgrid_data.py
  benchmarks/power_distribution/power_distributor.py
  examples/sdk_resampling_example.py
  examples/sdk_usage_example.py
  src/frequenz/sdk/actor/channel_registry.py
  src/frequenz/sdk/actor/data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/decorator.py
  src/frequenz/sdk/actor/resampling.py
  src/frequenz/sdk/configs/config_manager.py
  src/frequenz/sdk/data_ingestion/gen_component_receivers.py
  src/frequenz/sdk/data_ingestion/microgrid_data.py
  src/frequenz/sdk/microgrid/client.py
  src/frequenz/sdk/power_distribution/power_distributor.py
  src/frequenz/sdk/power_distribution/utils.py
  tests/actor/test_channel_registry.py
  tests/actor/test_data_sourcing.py
  tests/actor/test_decorator.py
  tests/actor/test_resampling.py
  tests/configs/test_config_manager.py
  tests/data_ingestion/base_microgrid_data_test.py
  tests/data_ingestion/test_gen_component_receivers.py
  tests/data_ingestion/test_microgrid_data.py
  tests/data_ingestion/test_microgrid_data_config_formula_updates.py
  tests/data_ingestion/test_microgrid_data_config_updates.py
  tests/data_ingestion/test_microgrid_data_grid_load.py
  tests/data_ingestion/test_microgrid_data_with_custom_formula.py
  tests/data_ingestion/test_microgrid_data_with_division_by_zero.py
  tests/data_ingestion/test_microgrid_data_with_ev_charger.py
  tests/power_distribution/test_power_distributor.py
  tests/test_microgrid_data_no_unnecessary_computations.py
  tests/utils/factories.py
Labels: part:tests, part:data-pipeline, part:power-distribution, part:actor, part:microgrid

#75 Expose additional fields from `ComponentData` streams
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/component_data.py
Labels: part:docs, type:enhancement, part:microgrid

#77 Upgrade dependency to frequenz-channels v0.11.0
  RELEASE_NOTES.md
  minimum-requirements-ci.txt
  pyproject.toml
Labels: part:docs, part:tooling, type:enhancement

#79 Clean RELEASE_NOTES
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#66 Add a logical meter implementation
  src/frequenz/sdk/timeseries/logical_meter/__init__.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_builder.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_steps.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/logical_meter/_tokenizer.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, priority:high, priority:low, type:enhancement, part:data-pipeline

#85 Improve examples
  examples/power_distribution.py
  examples/resampling.py
Labels: part:docs, type:enhancement

#87 ci: Label changes in examples with part:docs
  .github/labeler.yml
Labels: part:tooling, type:enhancement

#88 Remove requirement for inverters to have successors
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_graph.py
  tests/microgrid/test_graph.py
Labels: part:docs, part:tests, part:microgrid

#92 PowerDistributor should not block user command.
  src/frequenz/sdk/actor/power_distributing.py
  tests/actor/test_power_distributing.py
Labels: part:tests, type:bug, part:actor

#93 Update release notes for v0.13.0
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement
