Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2022-12, with the labels that each got.

#98 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#97 Fix the disable_actor_auto_restart fixture
  tests/conftest.py
Labels: part:tests, type:bug

#96 Split the formula execution logic from the formula building logic
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/logical_meter/_resampled_formula_builder.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, part:data-pipeline

#105 Prevent LogicalMeter from crashing on formula application failure
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:data-pipeline

#106 Handle `asyncio.CancelledError` separately in the `LogicalMeter`
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: type:bug, part:data-pipeline

#101 Rewrite the resampler class to be more reusable
  RELEASE_NOTES.md
  examples/resampling.py
  noxfile.py
  pyproject.toml
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/_resampler.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_steps.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/logical_meter/_resampled_formula_builder.py
  src/frequenz/sdk/util/__init__.py
  src/frequenz/sdk/util/asyncio.py
  tests/actor/test_resampling.py
  tests/timeseries/__init__.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
  tests/timeseries/test_resampling.py
  tests/utils/__init__.py
  tests/utils/_a_sequence.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:data-pipeline, part:actor

#109 Update release notes for v0.14.0
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#111 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#114 Add missing dependencies in documentation
  CONTRIBUTING.md
Labels: part:docs

#104 Add fine-grained `Result` types for the `PowerDistributingActor`
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  examples/power_distribution.py
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/power_distributing/__init__.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/actor/power_distributing/result.py
  tests/actor/test_power_distributing.py
Labels: part:docs, part:tests, part:actor

#123 resampling: Don't subscribe twice to the same source
  pyproject.toml
  src/frequenz/sdk/actor/_resampling.py
  tests/actor/test_resampling.py
  tests/timeseries/test_resampling.py
  tests/utils/_a_sequence.py
Labels: part:tests, part:tooling, priority:high, type:bug, part:actor

#125 Fix warnings in unit tests
  tests/actor/test_data_sourcing.py
  tests/actor/test_decorator.py
  tests/microgrid/mock_api.py
  tests/microgrid/test_client.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_mock_api.py
  tests/microgrid/test_timeout.py
  tests/timeseries/mock_microgrid.py
Labels: part:tests, type:tech-debt

#127 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#129 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#131 Improve resampler buffer and config
  benchmarks/timeseries/resampling.py
  examples/resampling.py
  pyproject.toml
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/_resampling.py
  tests/actor/test_resampling.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_resampling.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:data-pipeline, part:actor

#134 README: Fix build status badge
  README.md
Labels: part:docs, type:bug

#137 Add a formula generator for SoC in the LogicalMeter
  src/frequenz/sdk/timeseries/logical_meter/_exceptions.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_battery_soc_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_steps.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/logical_meter/_resampled_formula_builder.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, priority:URGENT, type:enhancement, part:data-pipeline

#117 Track status of the batteries
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_battery/__init__.py
  src/frequenz/sdk/microgrid/_battery/_status.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  tests/actor/test_battery_pool.py
  tests/actor/test_power_distributing.py
Labels: part:tests, part:actor, part:microgrid
