Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2022-10, with the labels that each got.

#10 Add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: part:tooling, type:enhancement

#9 Add CODEOWNERS file
  CODEOWNERS
Labels: part:tooling, type:enhancement

#16 Upload Packages to PyPI
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/RELEASE_NOTES.template.md
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  MANIFEST.in
  README.md
  RELEASE_NOTES.md
  pyproject.toml
  setup.cfg
  setup.py
Labels: part:docs, part:tooling, type:enhancement

#13 Change the type of Request's request_timeout_sec to float
  RELEASE_NOTES.md
  examples/sdk_usage_example.py
  src/frequenz/sdk/power_distribution/power_distributor.py
  src/frequenz/sdk/power_distribution/utils.py
  tests/power_distribution/test_power_distributor.py
Labels: part:docs, part:tests, type:bug, part:power-distribution

#17 Rename active_power_consumption to active_power in context of EVCharger
  RELEASE_NOTES.md
  src/frequenz/sdk/data_handling/time_series.py
  src/frequenz/sdk/data_ingestion/constants.py
  src/frequenz/sdk/data_ingestion/formula_calculator.py
  src/frequenz/sdk/data_ingestion/gen_component_receivers.py
  src/frequenz/sdk/microgrid/component_data.py
  tests/test_data_handling/test_formula.py
Labels: part:docs, part:tests, part:data-pipeline

#25 Implement ChannelRegistry
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/channel_registry.py
  tests/actor/test_channel_registry.py
Labels: part:tests, type:enhancement

#4 Change component data wrappers to be data classes
  benchmarks/data_ingestion/benchmark_microgrid_data.py
  src/frequenz/sdk/microgrid/client.py
  src/frequenz/sdk/microgrid/component_data.py
  tests/power_distribution/test_distribution_algorithm.py
  tests/power_distribution/test_power_distributor.py
  tests/test_microgrid/test_component_data.py
  tests/utils/data_generation.py
Labels: part:tests, type:enhancement

#18 Remove timeout for receiving from client handle to prevent flakiness
  tests/conftest.py
  tests/power_distribution/test_power_distributor.py
Labels: part:tests, type:bug

#29 ChannelRegistry improvements
  src/frequenz/sdk/actor/channel_registry.py
  tests/actor/test_channel_registry.py
Labels: part:tests, type:enhancement

#46 Add new labels to the CI and issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/keylabeler.yml
  .github/labeler.yml
Labels: part:tooling, type:enhancement

#52 Add DataSourcingActor
  noxfile.py
  src/frequenz/sdk/actor/data_sourcing/__init__.py
  src/frequenz/sdk/actor/data_sourcing/data_sourcing.py
  src/frequenz/sdk/actor/data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/data_pipeline/__init__.py
  src/frequenz/sdk/data_pipeline/types.py
  tests/actor/test_data_sourcing.py
Labels: part:tests, part:actor

#51 Update noxfile.py to run darglint in verbose-mode
  noxfile.py
Labels: part:tooling, type:enhancement
