Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-12, with the labels that each got.

#801 Pass through 0W requests to the microgrid API independent of exclusion bounds
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_power_managing/_bounds.py
  src/frequenz/sdk/actor/power_distributing/_distribution_algorithm/_battery_distribution_algorithm.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/_power_managing/test_report.py
  tests/actor/power_distributing/test_battery_distribution_algorithm.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, part:power-management, part:actor

#788 Update `frequency()` to no longer have parameters
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_grid_frequency.py
Labels: part:docs, part:data-pipeline, part:microgrid

#804 Fix frequency sending `Quantity`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_grid_frequency.py
  tests/timeseries/test_frequency_streaming.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline

#811 Fix the resampler handling of output zeros
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_resampling.py
  tests/timeseries/test_resampling.py
Labels: part:docs, part:tests, part:data-pipeline, type:regression

#812 Fix the resampler handling of output zeros
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_resampling.py
  tests/timeseries/test_resampling.py
Labels: part:docs, part:tests, part:data-pipeline

#816 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#828 Speedup tests by lowering the actors restart delay
  tests/conftest.py
Labels: part:tests, part:tooling
