Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-02, with the labels that each got.

#192 Update code to pass newly-released `black v23.1.0`
  examples/resampling.py
  src/frequenz/sdk/_data_handling/time_series.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  tests/actor/test_battery_status.py
  tests/data_ingestion/base_microgrid_data_test.py
  tests/microgrid/test_graph.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor

#193 Update to work with newly-release `pylint v2.16`
  noxfile.py
  src/frequenz/sdk/actor/_resampling.py
Labels: part:tooling, part:actor

#186 Use `Sample` type with the RingBuffer
  benchmarks/timeseries/benchmark_ringbuffer.py
  src/frequenz/sdk/timeseries/_ringbuffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:tests, type:enhancement, part:data-pipeline

#185 Add logical meter formula generator for EV power
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline

#194 Add an `EVChargerPool` implementation
  src/frequenz/sdk/microgrid/component/__init__.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  src/frequenz/sdk/microgrid/component/_component_states.py
  src/frequenz/sdk/timeseries/ev_charger_pool/__init__.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_ev_charger_pool.py
Labels: part:tests, part:data-pipeline, part:microgrid

#195 Add 3.11 to the supported Python versions
  README.md
Labels: part:docs

#190 Add a Moving Window Class
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_ringbuffer.py
  tests/timeseries/test_moving_window.py
Labels: part:docs, part:tests, priority:high, type:enhancement, part:data-pipeline

#199 Move dev dependencies to pyproject.toml
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  noxfile.py
  pyproject.toml
Labels: part:docs, part:tooling

#202 Add COMPONENT_STATE_DISCHARGING to valid inverter states
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
Labels: part:docs, type:bug, part:actor

#167 Serializing Ringbuffer
  RELEASE_NOTES.md
  benchmarks/timeseries/benchmark_ringbuffer.py
  benchmarks/timeseries/serializable_ringbuffer.py
  src/frequenz/sdk/timeseries/_ringbuffer.py
  src/frequenz/sdk/timeseries/_serializable_ringbuffer.py
  tests/timeseries/test_ringbuffer.py
  tests/timeseries/test_serializable_ringbuffer.py
Labels: part:docs, part:tests, type:enhancement, part:data-pipeline

#208 Rename microgrid.Microgrid to microgrid.ConnectionManager and its Insecure-companion
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_microgrid.py
  tests/utils/mock_microgrid.py
Labels: part:tests, part:microgrid

#201 Add EV power and current streams to `EVChargerPool`
  src/frequenz/sdk/timeseries/_formula_engine/__init__.py
  src/frequenz/sdk/timeseries/_formula_engine/_exceptions.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_soc_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  src/frequenz/sdk/timeseries/_formula_engine/_resampled_formula_builder.py
  src/frequenz/sdk/timeseries/_formula_engine/_tokenizer.py
  src/frequenz/sdk/timeseries/ev_charger_pool/__init__.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_state_tracker.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/_formula_engine/__init__.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_formula_engine/utils.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, part:data-pipeline

#207 Change battery status when component stopped sending data
  examples/battery_status.py
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  tests/actor/test_battery_status.py
Labels: part:docs, part:tests, type:bug, part:actor
