Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-03, with the labels that each got.

#232 Remove deprecated code
  benchmarks/data_ingestion/benchmark_microgrid_data.py
  examples/power_distribution.py
  noxfile.py
  src/frequenz/sdk/_data_handling/__init__.py
  src/frequenz/sdk/_data_handling/formula.py
  src/frequenz/sdk/_data_handling/gen_historic_data_features.py
  src/frequenz/sdk/_data_handling/handle_historic_data.py
  src/frequenz/sdk/_data_handling/power.py
  src/frequenz/sdk/_data_handling/time_series.py
  src/frequenz/sdk/_data_ingestion/__init__.py
  src/frequenz/sdk/_data_ingestion/component_info.py
  src/frequenz/sdk/_data_ingestion/constants.py
  src/frequenz/sdk/_data_ingestion/formula_calculator.py
  src/frequenz/sdk/_data_ingestion/gen_component_receivers.py
  src/frequenz/sdk/_data_ingestion/load_historic_data.py
  src/frequenz/sdk/_data_ingestion/microgrid_data.py
  tests/data_ingestion/__init__.py
  tests/data_ingestion/base_microgrid_data_test.py
  tests/data_ingestion/test_formulas.py
  tests/data_ingestion/test_gen_component_receivers.py
  tests/data_ingestion/test_microgrid_data.py
  tests/data_ingestion/test_microgrid_data_config_formula_updates.py
  tests/data_ingestion/test_microgrid_data_config_updates.py
  tests/data_ingestion/test_microgrid_data_grid_load.py
  tests/data_ingestion/test_microgrid_data_overlapping_formulas.py
  tests/data_ingestion/test_microgrid_data_with_custom_formula.py
  tests/data_ingestion/test_microgrid_data_with_division_by_zero.py
  tests/data_ingestion/test_microgrid_data_with_ev_charger.py
  tests/data_ingestion/test_microgrid_data_with_missing_symbols.py
  tests/test_data_handling/__init__.py
  tests/test_data_handling/test_formula.py
  tests/test_data_handling/test_gen_historic_data_features.py
  tests/test_data_handling/test_handle_historic_data.py
  tests/test_data_handling/test_power.py
  tests/test_data_handling/test_time_series.py
  tests/test_microgrid_data_no_unnecessary_computations.py
  tests/utils/data_generation.py
  tests/utils/factories.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline

#219 Fix mypy invocation in noxfile
  noxfile.py
  pyproject.toml
  src/frequenz/sdk/_internal/asyncio.py
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_graph.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/_ringbuffer.py
  src/frequenz/sdk/timeseries/_serializable_ringbuffer.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_state_tracker.py
Labels: part:tooling, priority:URGENT, type:bug, part:data-pipeline, part:actor, part:core, part:microgrid

#231 Add wrappers for the component data in unit tests
  tests/actor/test_battery_status.py
  tests/power/test_distribution_algorithm.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_ev_charger_pool.py
  tests/utils/component_data_wrapper.py
Labels: part:tests

#235 Fix flaky LogicalMeter test_soc
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, priority:high, type:bug

#224 Update MockMicrogrid for use with datasourcing benchmark
  tests/timeseries/mock_microgrid.py
Labels: part:tests, type:enhancement

#238 Change few resampler logs from info to debug
  src/frequenz/sdk/timeseries/_resampling.py
Labels: priority:low, part:data-pipeline

#237 Fix bug in battery status
  examples/resampling.py
  noxfile.py
  pyproject.toml
  src/frequenz/sdk/_data_handling/time_series.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/_battery/_status.py
  tests/actor/test_power_distributing.py
  tests/data_ingestion/base_microgrid_data_test.py
  tests/microgrid/test_graph.py
Labels: part:docs, part:tests, part:tooling, priority:high, type:bug, part:data-pipeline, part:actor, part:microgrid

#200 Add a run() method to run/wait for actors completion
  RELEASE_NOTES.md
  examples/power_distribution.py
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/_run_utils.py
  tests/actor/test_decorator.py
  tests/actor/test_resampling.py
  tests/actor/test_run_utils.py
  tests/timeseries/test_resampling.py
Labels: part:docs, part:tests, part:actor

#225 Add & use close channel method in the registry
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_channel_registry.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  tests/timeseries/mock_microgrid.py
  tests/utils/mock_microgrid.py
Labels: part:docs, part:tests, part:actor

#205 Add BatteryPool implementation for aggregating battery-inverter data
  benchmarks/power_distribution/power_distributor.py
  examples/battery_pool.py
  examples/battery_status.py
  examples/power_distribution.py
  src/frequenz/sdk/_internal/_constants.py
  src/frequenz/sdk/actor/power_distributing/__init__.py
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/timeseries/battery_pool/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_component_metric_fetcher.py
  src/frequenz/sdk/timeseries/battery_pool/_component_metrics.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_power_distributing.py
  tests/timeseries/_battery_pool/__init__.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/utils/component_data_streamer.py
  tests/utils/component_graph_utils.py
  tests/utils/mock_microgrid.py
  tests/utils/sdk_interface.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:core, part:microgrid

#248 Remove `_soc` formula from the LogicalMeter
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_soc_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, priority:low, part:data-pipeline

#251 Increase sampling rate in the flaky formula test
  tests/timeseries/_formula_engine/test_formula_composition.py
Labels: part:tests

#236 Make resampling window size constant
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_resampling.py
  tests/timeseries/test_resampling.py
Labels: part:docs, part:tests, type:bug, part:data-pipeline

#247 Change PowerDistributor to ignore components with NaN metrics
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  tests/actor/test_power_distributing.py
Labels: part:docs, part:tests, priority:high, part:actor

#252 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#256 Pin dev/test dependencies
  pyproject.toml
Labels: part:tooling

#255 Fix resampler behaviour when resampling is to late
  src/frequenz/sdk/timeseries/_resampling.py
  tests/timeseries/test_resampling.py
Labels: part:tests, priority:high, type:bug, part:data-pipeline

#254 Change BatteryPool to send metrics only when they change
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:tests, priority:high, part:data-pipeline

#261 Remove pandas(-stubs) dependencies
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/microgrid/component/_component_data.py
  tests/actor/test_battery_status.py
Labels: part:docs, part:tests, part:tooling, type:tech-debt, part:microgrid

#257 Power Distributing: Documentation enhancements
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
Labels: part:actor

#271 Clean release notes
  RELEASE_NOTES.md
Labels: part:docs

#263 Check battery capacity in BatteryStatus
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  tests/actor/test_battery_status.py
Labels: part:docs, part:tests, part:actor

#268 Configure dependabot to automated version updates
  .github/dependabot.yml
  pyproject.toml
Labels: part:tooling, type:enhancement

#295 Update channels dependency to v0.14.0
  RELEASE_NOTES.md
  examples/resampling.py
  pyproject.toml
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_battery_status.py
  tests/actor/test_power_distributing.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_resampling.py
  tests/utils/mock_microgrid.py
Labels: part:docs, part:tests, part:tooling, part:actor

#277 Various small fixes
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
Labels: part:data-pipeline, part:actor

#274 Fix len() of the OrderedRingBuffer
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_ringbuffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, priority:high, type:bug, part:data-pipeline
