Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-10, with the labels that each got.

#669 Add option to impute missing values in window method for moving window
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#692 Implement the PowerManagingActor
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  examples/battery_pool.py
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/_channel_registry.py
  src/frequenz/sdk/actor/_power_managing/__init__.py
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/_power_managing/_sorted_set.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/battery_pool/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  tests/actor/_power_managing/__init__.py
  tests/actor/_power_managing/_sorted_set.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/mock_resampler.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:core, part:microgrid

#723 Prepare release notes for v1.0.0-rc2
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#713 Remove support for `include_broken_batteries` in control commands
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  tests/actor/power_distributing/test_power_distributing.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor

#717 Improve code reusability/modularity in PowerDistributor
  src/frequenz/sdk/actor/power_distributing/_distribution_algorithm/_distribution_algorithm.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:tests, part:data-pipeline, part:actor, cmd:skip-release-notes

#722 Document microgrid concepts from an SDK perspective
  docs/_scripts/macros.py
  docs/user-guide/glossary.md
  docs/user-guide/microgrid-concepts.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:docs, part:tooling, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#731 Documentation for the FormulaEngine
  docs/user-guide/formula-engine.md
  docs/user-guide/glossary.md
  src/frequenz/sdk/timeseries/_formula_engine/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/formula_engine/__init__.py
  src/frequenz/sdk/timeseries/formula_engine/_exceptions.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_evaluator.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_formatter.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_chp_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_consumer_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_producer_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_steps.py
  src/frequenz/sdk/timeseries/formula_engine/_resampled_formula_builder.py
  src/frequenz/sdk/timeseries/formula_engine/_tokenizer.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/_formula_engine/utils.py
  tests/timeseries/mock_resampler.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_formula_formatter.py
Labels: part:docs, part:tests, part:data-pipeline, cmd:skip-release-notes

#738 Expose `ComponentGraph` from its own module
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/microgrid/connection_manager.py
  tests/microgrid/test_graph.py
  tests/timeseries/mock_microgrid.py
  tests/utils/graph_generator.py
  tests/utils/mock_microgrid_client.py
Labels: part:docs, part:tests, part:microgrid

#739 Document methods for creating data pipeline interface objects
  src/frequenz/sdk/microgrid/client/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:data-pipeline, part:microgrid, cmd:skip-release-notes

#741 Add a restart delay to actors to avoid spam-restarting of buggy actors
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_actor.py
  tests/actor/test_actor.py
Labels: part:docs, part:tests, part:actor

#742 Rename datetime to timestamp variables
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_ringbuffer.py
  tests/timeseries/test_ringbuffer_serialization.py
Labels: part:tests, part:data-pipeline, cmd:skip-release-notes

#707 Redesign access to migrogrid.grid()
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_grid.py
  tests/microgrid/test_grid.py
Labels: part:docs, part:tests, part:microgrid

#743 Set `resent_latest=True` for `BatteryPool.power_status`'s channels
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_channel_registry.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
Labels: part:docs, part:data-pipeline, part:actor

#744 Clean warnings in tests
  tests/actor/power_distributing/test_power_distributing.py
  tests/microgrid/test_datapipeline.py
Labels: part:tests, cmd:skip-release-notes

#746 Add consumtion and production operations to Formula Engine
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_steps.py
  tests/timeseries/test_formula_engine.py
Labels: part:docs, part:tests, part:data-pipeline

#755 Use exclusion bounds while calculating target powers in PowerManager
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  tests/actor/_power_managing/test_matryoshka.py
Labels: part:tests, part:actor, cmd:skip-release-notes
