Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-09, with the labels that each got.

#612 Don't return `None` from battery pool methods
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:docs, part:tests, part:data-pipeline

#637 Clarify documentation of BatteryPool soc and capacity methods
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
Labels: part:data-pipeline, cmd:skip-release-notes

#618 Document class and module attributes
  src/frequenz/sdk/_api_client/api_client.py
  src/frequenz/sdk/_internal/_asyncio.py
  src/frequenz/sdk/_internal/_singleton_meta.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/result.py
  src/frequenz/sdk/config/_config.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_graph.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/microgrid/client/_connection.py
  src/frequenz/sdk/microgrid/client/_retry.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  src/frequenz/sdk/microgrid/component/_component_states.py
  src/frequenz/sdk/microgrid/connection_manager.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_formula_engine/_exceptions.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_tokenizer.py
  src/frequenz/sdk/timeseries/_periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/_quantities.py
  src/frequenz/sdk/timeseries/_ringbuffer/__init__.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  src/frequenz/sdk/timeseries/_ringbuffer/serialization.py
  src/frequenz/sdk/timeseries/battery_pool/_component_metric_fetcher.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_state_tracker.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_microgrid_api.py
Labels: part:tests, part:data-pipeline, part:actor, part:core, part:microgrid, part:config, cmd:skip-release-notes

#579 Add microgrid.frequency()
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/__init__.py
  src/frequenz/sdk/actor/_data_sourcing/_component_metric_request.py
  src/frequenz/sdk/actor/_data_sourcing/data_sourcing.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  src/frequenz/sdk/timeseries/_grid_frequency.py
  tests/timeseries/mock_resampler.py
  tests/timeseries/test_logical_meter.py
  tests/utils/component_data_wrapper.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#641 Treat NaN as gap in ring buffer
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#639 Move "fake_time" fixture to conftest.py
  tests/actor/test_resampling.py
  tests/actor/test_run_utils.py
  tests/conftest.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_resampling.py
Labels: part:tests, part:tooling, cmd:skip-release-notes

#613 Add format_formula
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_formatter.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  tests/timeseries/test_formula_formatter.py
Labels: part:docs, part:tests, part:data-pipeline

#642 Fix mkdocs navigation bar API link
  RELEASE_NOTES.md
  mkdocs.yml
Labels: part:docs, part:tooling, type:bug

#649 Fix consumer power formula
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline

#652 Merge v0.25.1
  mkdocs.yml
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, part:tooling, type:bug, part:data-pipeline, cmd:skip-release-notes

#653 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs

#647 Add a glossary to the documentation
  docs/SUMMARY.md
  docs/img/power-triangle.svg
  docs/intro/glossary.md
  docs/intro/index.md
Labels: part:docs, type:enhancement

#598 Add capacity, oldest and newest timestamp to moving window
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#622 [ci] Add tests for non-native architectures
  .github/containers/nox-cross-arch/arm64-ubuntu-20.04-python-3.11.Dockerfile
  .github/containers/nox-cross-arch/entrypoint.bash
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  RELEASE_NOTES.md
Labels: part:docs, part:tooling

#657 ci: Fix publishing of documentation on push
  .github/workflows/ci.yaml
Labels: part:tooling, type:bug

#661 Add a job to join the `nox` matrix jobs
  .github/workflows/ci.yaml
Labels: part:tooling, type:enhancement

#623 Add more formula tests for min and max functions
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/test_formula_engine.py
Labels: part:docs, part:tests, part:data-pipeline

#638 Fixes on copy behavior in ring buffer window method
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#645 Drop formula step Averager
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_formatter.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_formula_formatter.py
Labels: part:docs, part:tests, part:data-pipeline, cmd:skip-release-notes

#659 Refactor power distribution Result
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/result.py
Labels: part:docs, part:actor

#666 Adjust the glossary to 80 columns
  docs/intro/glossary.md
Labels: part:docs, type:enhancement

#664 Replace len magic with count_valid method in ring buffer and moving window
  RELEASE_NOTES.md
  benchmarks/timeseries/periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#674 Prepare release notes for the 1.0.0-rc1 release
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#675 Clear the release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#667 Add mkdocs-macros plugin
  docs/_scripts/macros.py
  docs/_scripts/mkdocstrings_autoapi.py
  docs/index.md
  mkdocs.yml
  pyproject.toml
Labels: part:docs, part:tooling

#679 docs: Add an introduction to actors
  docs/_scripts/macros.py
  docs/css/style.css
  docs/intro/actors.md
Labels: part:docs

#684 mkdocs: Fix numbered code annotations
  .github/labeler.yml
  docs/css/style.css
Labels: part:docs, part:tooling, type:bug

#656 Add getting started tutorial and tutorial section
  RELEASE_NOTES.md
  docs/SUMMARY.md
  docs/tutorials/getting_started.md
Labels: part:docs

#670 Remove setitem magic from ring buffer
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_ringbuffer_serialization.py
Labels: part:docs, part:tests, part:data-pipeline

#687 Allow using macros in docstrings
  docs/_scripts/macros.py
  mkdocs.yml
Labels: part:docs, part:tooling

#686 Rename datetime_to_index to to_internal_index
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#690 Fix mermaid diagrams custom renderer
  RELEASE_NOTES.md
  mkdocs.yml
Labels: part:docs, part:tooling

#685 Update obsolete comment about networkx-stubs
  pyproject.toml
Labels: part:tooling, cmd:skip-release-notes

#688 Move Actors documentation to the `actor` module
  docs/intro/actors.md
  src/frequenz/sdk/actor/__init__.py
Labels: part:docs, part:actor, cmd:skip-release-notes

#698 Don't use generics unnecessarily
  src/frequenz/sdk/microgrid/_data_pipeline.py
Labels: type:tech-debt, part:microgrid, cmd:skip-release-notes

#689 Improve Actors documentation
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  mkdocs.yml
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/_actor.py
  src/frequenz/sdk/actor/_run_utils.py
Labels: part:docs, part:tooling, part:actor

#699 Increment port in microgrid API client tests
  tests/microgrid/test_client.py
Labels: part:tests, type:tech-debt

#668 Support int indices and slice index behavior in ring buffer and moving window
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#672 Fix single element access for moving window
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  tests/timeseries/test_moving_window.py
Labels: part:docs, part:tests, part:data-pipeline

#701 Rename `Introduction` to `User Guide` and move `Tutorials` next to it
  docs/SUMMARY.md
  docs/_scripts/macros.py
  docs/user-guide/actors.md
  docs/user-guide/glossary.md
  docs/user-guide/index.md
Labels: part:docs, part:tooling, type:enhancement

#660 PowerDistributing: Add support for n:m relations in invs:bats
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_distribution_algorithm/__init__.py
  src/frequenz/sdk/actor/power_distributing/_distribution_algorithm/_distribution_algorithm.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_graph.py
  tests/actor/power_distributing/test_distribution_algorithm.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/utils/graph_generator.py
Labels: part:docs, part:tests, part:actor, part:microgrid

#703 Update pydantic to v2.3
  pyproject.toml
  src/frequenz/sdk/config/_config.py
  tests/config/test_config.py
Labels: part:tests, part:tooling, part:config, cmd:skip-release-notes
