Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-06, with the labels that each got.

#408 Control interface for BatteryPool
  benchmarks/power_distribution/power_distributor.py
  examples/power_distribution.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/power_distributing/__init__.py
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/actor/power_distributing/result.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  tests/actor/test_power_distributing.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#299 Add PeriodicFeatureExtractor
  RELEASE_NOTES.md
  benchmarks/timeseries/periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_periodic_feature_extractor.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, priority:URGENT, type:enhancement, part:data-pipeline

#420 Fix sleep bug in MovingWindow example
  src/frequenz/sdk/timeseries/_moving_window.py
Labels: part:data-pipeline

#421 Prepare release notes for the v0.21.0 release
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#426 ci: Fix building of tags
  .github/workflows/ci.yaml
Labels: part:tooling, priority:high, type:bug

#375 Add more unit tests for PeriodicFeatureExtractor
  tests/timeseries/test_periodic_feature_extractor.py
Labels: part:tests

#425 Enhance battery pool documentation
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
Labels: part:data-pipeline

#437 Fix seconds in MovingWindow doc example
  src/frequenz/sdk/timeseries/_moving_window.py
Labels: part:docs, type:bug, part:data-pipeline

#438 Add `--diff` as a default argument for `isort`
  noxfile.py
Labels: part:tooling

#444 Add producer power formula
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_producer_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline

#422 Add Quantity types and update formulas to produce typed Samples
  benchmarks/power_distribution/power_distributor.py
  benchmarks/timeseries/periodic_feature_extractor.py
  benchmarks/timeseries/resampling.py
  benchmarks/timeseries/ringbuffer_memusage.py
  benchmarks/timeseries/ringbuffer_serialization.py
  examples/power_distribution.py
  examples/resampling.py
  pyproject.toml
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_chp_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_producer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  src/frequenz/sdk/timeseries/_formula_engine/_resampled_formula_builder.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_quantities.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/actor/test_data_sourcing.py
  tests/actor/test_resampling.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_formula_engine/utils.py
  tests/timeseries/mock_datapipeline.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_periodic_feature_extractor.py
  tests/timeseries/test_quantities.py
  tests/timeseries/test_resampling.py
  tests/timeseries/test_ringbuffer.py
  tests/timeseries/test_ringbuffer_serialization.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:actor

#459 Expose only usable SoC and Capacity through the BatteryPool
  src/frequenz/sdk/timeseries/battery_pool/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:tests, part:data-pipeline

#445 Fix ring buffer len
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_ringbuffer.py
  tests/timeseries/test_ringbuffer_serialization.py
Labels: part:docs, part:tests, part:data-pipeline

#465 Disable default constructor in specialized `Quantity` types
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_chp_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_producer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_resampled_formula_builder.py
  src/frequenz/sdk/timeseries/_quantities.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_formula_engine/utils.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#470 A `Percentage` quantity
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_quantities.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/test_quantities.py
Labels: part:tests, part:data-pipeline

#472 Fix broken reference to `ResamplingFunction` in documentation
  src/frequenz/sdk/timeseries/_resampling.py
Labels: part:data-pipeline
