Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-01, with the labels that each got.

#141 Fix formula precedence bug in the `FormulaEngine`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  tests/timeseries/test_formula_engine.py
Labels: part:docs, part:tests, type:bug, part:data-pipeline

#133 Add `FormulaChannel`s for composing formula outputs
  .gitignore
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_battery_soc_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/logical_meter/_resampled_formula_builder.py
  tests/microgrid/mock_api.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:data-pipeline

#146 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#150 Add a delay for the mock server to start, before creating a client
  tests/timeseries/mock_microgrid.py
Labels: part:tests, type:bug

#153 Wait for a short time after starting the test actors
  src/frequenz/sdk/timeseries/_resampling.py
  tests/timeseries/mock_microgrid.py
Labels: part:tests, part:data-pipeline

#151 Send 0 values from power formulas for non-existant component types
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_pv_power_formula.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, type:enhancement, part:data-pipeline

#156 Update power distributor to use frequenz.sdk.microgrid
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  examples/power_distribution.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/timeseries/_resampling.py
  tests/actor/test_power_distributing.py
  tests/timeseries/mock_microgrid.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor

#157 Support python 3.11
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  minimum-requirements-ci.txt
  pyproject.toml
  tests/actor/test_power_distributing.py
  tests/microgrid/test_microgrid_api.py
Labels: part:docs, part:tests, part:tooling

#158 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#136 Make resampler infer the input sampling period and buffer length
  RELEASE_NOTES.md
  benchmarks/timeseries/resampling.py
  examples/resampling.py
  src/frequenz/sdk/_data_handling/time_series.py
  src/frequenz/sdk/_data_ingestion/component_info.py
  src/frequenz/sdk/_data_ingestion/formula_calculator.py
  src/frequenz/sdk/_data_ingestion/load_historic_data.py
  src/frequenz/sdk/_data_ingestion/microgrid_data.py
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/test_resampling.py
Labels: part:docs, part:tests, type:enhancement, part:data-pipeline, part:actor, part:microgrid

#99 Handle `NaN` values in FormulaEngine
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_steps.py
  tests/timeseries/test_formula_engine.py
Labels: part:tests, type:bug, part:data-pipeline

#162 Use stricter typing for `eval_stack` used by the FormulaEngine
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_steps.py
Labels: type:tech-debt, part:data-pipeline

#163 Fix minimum requirements test
  .github/workflows/ci.yaml
  minimum-requirements-ci.txt
  noxfile.py
  pyproject.toml
Labels: part:tooling

#166 Add documentation and usage instructions for noxfile
  noxfile.py
Labels: part:docs, part:tooling

#168 Move code in `util` package to `_internal`
  src/frequenz/sdk/_internal/asyncio.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/util/__init__.py
Labels: part:data-pipeline, part:actor, part:core

#169 Add mock microgrid implementation
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  tests/actor/test_power_distributing.py
  tests/power/test_distribution_algorithm.py
  tests/utils/mock_microgrid.py
Labels: part:tests, part:actor

#145 Define way to create object with async constructor
  CONTRIBUTING.md
  src/frequenz/sdk/_internal/asyncio.py
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_battery/_status.py
  tests/actor/test_battery_pool.py
  tests/actor/test_power_distributing.py
Labels: part:docs, part:tests, part:actor, part:core, part:microgrid

#172 Use measurements from EV chargers when calculating grid power
  pyproject.toml
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_pv_power_formula.py
Labels: part:tooling, type:bug, part:data-pipeline

#173 Update frequenz-channel-python to the latest release v0.12.0
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#174 Add missing entry to the current release notes
  RELEASE_NOTES.md
Labels: part:docs

#176 Update RELEASE NOTES about logical meter bugfix
  RELEASE_NOTES.md
Labels: part:docs

#178 Update release notes before release
  RELEASE_NOTES.md
Labels: part:docs

#179 Clean release notes
  RELEASE_NOTES.md
Labels: part:docs

#164 Add 3-phase current formulas
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/logical_meter/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, part:data-pipeline

#139 Sorted Ringbuffer
  RELEASE_NOTES.md
  benchmarks/timeseries/benchmark_ringbuffer.py
  src/frequenz/sdk/timeseries/_ringbuffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, type:enhancement, part:data-pipeline

#171 Battery status with channel communication
  pyproject.toml
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_battery/__init__.py
  src/frequenz/sdk/microgrid/_battery/_status.py
  tests/actor/test_battery_pool.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_battery_status.py
  tests/actor/test_power_distributing.py
Labels: part:tests, part:tooling, part:actor, part:microgrid
