Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-04, with the labels that each got.

#302 Use a bigger request receiver buffer size in data pipeline actors
  src/frequenz/sdk/microgrid/_data_pipeline.py
Labels: part:microgrid

#305 Refactor power distributor's `Result`s
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/actor/power_distributing/result.py
  tests/actor/test_power_distributing.py
Labels: part:docs, part:tests, type:enhancement, part:actor

#323 Expose BatteryPool and PowerDistributingHandle from `sdk.microgrid`
  src/frequenz/sdk/microgrid/_data_pipeline.py
Labels: part:microgrid

#329 Ringbuffer: Moved files into a package
  benchmarks/timeseries/ringbuffer_serialization.py
  src/frequenz/sdk/timeseries/_ringbuffer/__init__.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  src/frequenz/sdk/timeseries/_ringbuffer/serialization.py
  tests/timeseries/test_ringbuffer_serialization.py
Labels: part:tests, part:data-pipeline

#336 Update `BatteryPool` tests, examples to use `microgrid.battery_pool()`
  examples/battery_pool.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/utils/sdk_interface.py
Labels: part:docs, part:tests, priority:high, part:microgrid

#334 Make the resampler use timedelta for periods
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  benchmarks/timeseries/resampling.py
  examples/battery_pool.py
  examples/battery_status.py
  examples/power_distribution.py
  examples/resampling.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_resampling.py
  tests/actor/test_resampling.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_resampling.py
Labels: part:docs, part:tests, type:enhancement, part:data-pipeline, part:microgrid

#327 Make FormulaEngine instances composable, instead of FormulaReceivers
  RELEASE_NOTES.md
  examples/power_distribution.py
  pyproject.toml
  src/frequenz/sdk/timeseries/_formula_engine/__init__.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_resampled_formula_builder.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_formula_engine/utils.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline

#338 Add `power` formula to `BatteryPool`
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_formula_engine/utils.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline, part:microgrid

#351 Increase sample_rate in some formula tests to reduce flakiness
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/test_ev_charger_pool.py
Labels: part:tests

#347 Rename custom loggers to `_logger`
  src/frequenz/sdk/actor/_config_managing.py
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/config/_config.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_graph.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:data-pipeline, part:actor, part:microgrid, part:config

#355 Make the `MovingWindow` public and remove public mentions to the `RingBuffer`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
Labels: part:docs, type:enhancement, part:data-pipeline

#359 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#361 Publish to PyPi using trusted publishing
  .github/workflows/ci.yaml
Labels: part:tooling, type:enhancement

#366 Add a dummy workflow to succeed DCO check on merge queues
  .github/workflows/ci.yaml
  .github/workflows/dco-merge-queue.yml
Labels: part:tooling, type:enhancement

#368 Fix and improve `MovingWindow` examples in docs
  src/frequenz/sdk/timeseries/_moving_window.py
Labels: part:data-pipeline

#369 ci: Fix workflows to play nicely with merge queues
  .github/workflows/ci.yaml
Labels: part:tooling, type:bug
