Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-11, with the labels that each got.

#697 Remove the consumption and production power formulas
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_chp_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline

#747 Change internal presense of the Grid, eliminating `_grid`
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/grid.py
  tests/microgrid/test_grid.py
Labels: part:tests, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#759 Update DataSourcingActor to accept current requests for inverters
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  tests/utils/component_data_wrapper.py
Labels: part:docs, part:tests, part:actor, part:microgrid

#761 Remove unused paranthesis in formula generators
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_chp_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_pv_power_formula.py
Labels: part:data-pipeline, cmd:skip-release-notes

#762 Fix bug in inverter current data extractor
  src/frequenz/sdk/microgrid/component/_component_data.py
  tests/microgrid/test_component_data.py
Labels: part:tests, part:microgrid, cmd:skip-release-notes

#760 Rename nitrogen to Microgrid service
  src/frequenz/sdk/microgrid/client/_client.py
  tests/microgrid/mock_api.py
Labels: part:tests, part:microgrid, cmd:skip-release-notes

#757 Add try/finally to decorated context managers yield statement
  tests/conftest.py
Labels: part:tests, part:tooling

#763 Fix power failure report
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  tests/actor/power_distributing/test_power_distributing.py
Labels: part:docs, part:tests, part:actor

#752 Update to repo-config v0.7.4
  .cookiecutter-replay.json
  .github/containers/nox-cross-arch/arm64-ubuntu-20.04-python-3.11.Dockerfile
  .github/containers/nox-cross-arch/entrypoint.bash
  .github/containers/test-installation/Dockerfile
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  MANIFEST.in
  README.md
  RELEASE_NOTES.md
  docs/_css/mkdocstrings.css
  docs/_css/style.css
  docs/_img/logo.png
  docs/_overrides/main.html
  docs/_scripts/macros.py
  docs/_scripts/mkdocstrings_autoapi.py
  mkdocs.yml
  noxfile.py
  pyproject.toml
  src/frequenz/sdk/conftest.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, type:tech-debt

#756 Make the SDK's representation of bounds data internal
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_bounds.py
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  src/frequenz/sdk/timeseries/battery_pool/__init__.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/_power_managing/test_report.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:tests, part:data-pipeline, part:actor, cmd:skip-release-notes

#769 Use a custom logger in the data sourcing actor
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
Labels: part:actor, cmd:skip-release-notes

#708 Fetch and expose microgrid ID and location
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/microgrid/connection_manager.py
  src/frequenz/sdk/microgrid/metadata.py
  tests/microgrid/test_microgrid_api.py
  tests/utils/mock_microgrid_client.py
Labels: part:docs, part:tests, part:tooling, part:microgrid

#775 Prepare release notes for the v1.0.0-rc3 release
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#777 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#773 Make `PowerManagingActor` more modular and generic
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_power_managing/__init__.py
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/battery_pool/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/_power_managing/test_report.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#778 Fix type hint errors in microgrid client
  src/frequenz/sdk/microgrid/client/_client.py
Labels: part:microgrid, cmd:skip-release-notes

#780 Use custom loggers for each module
  src/frequenz/sdk/actor/_config_managing.py
  src/frequenz/sdk/timeseries/_grid_frequency.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  src/frequenz/sdk/timeseries/grid.py
Labels: part:data-pipeline, part:actor

#779 Modularize status tracking for pools of components in the power distributing actor
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/actor/power_distributing/__init__.py
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/_battery_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/_component_pool_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/_component_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_battery_status.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:tests, part:data-pipeline, part:actor, part:microgrid, cmd:skip-release-notes

#786 Generalize PowerDistributingActor
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_component_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_pool_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/_distribution_algorithm/__init__.py
  src/frequenz/sdk/actor/power_distributing/_distribution_algorithm/_battery_distribution_algorithm.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/actor/power_distributing/result.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  tests/actor/power_distributing/test_battery_distribution_algorithm.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#781 Move Fuse to timeseries module
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_fuse.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/grid.py
  tests/microgrid/test_client.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_grid.py
  tests/test_import_all_integration.py
  tests/test_sdk.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:microgrid

#758 Move grid power and current metrics to Grid
  RELEASE_NOTES.md
  docs/tutorials/getting_started.md
  docs/user-guide/glossary.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/formula_engine/_resampled_formula_builder.py
  src/frequenz/sdk/timeseries/grid.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/microgrid/test_grid.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_formula_formatter.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline, part:microgrid

#764 Bump frequenz-channels from 0.16 to 1.0.0b2
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/actor/_channel_registry.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
Labels: part:docs, part:tooling, part:data-pipeline, part:actor

#791 Rename `ComponentGraph.components()` parameters to be plural
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/grid.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/actor/test_battery_pool_status.py
  tests/microgrid/test_graph.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/mock_microgrid.py
  tests/utils/graph_generator.py
  tests/utils/mock_microgrid_client.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#798 Update some tests to use time machine
  tests/microgrid/test_datapipeline.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:tests

#800 Un-Peekable-ification of the PowerDistributingActor
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/microgrid/test_client.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:tests, part:data-pipeline, part:actor, part:core, part:microgrid, cmd:skip-release-notes
