Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-08, with the labels that each got.

#535 Add zero() constructor for Quantities
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, type:enhancement, part:data-pipeline

#552 Temperature streaming from the BatteryPool
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_quantities.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/test_quantities.py
  tests/utils/component_data_wrapper.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#485 Add BatteryPool.temperature and quantity Temperature
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_quantities.py
  src/frequenz/sdk/timeseries/battery_pool/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
Labels: part:data-pipeline, part:actor, part:microgrid

#557 Update battery pool SoC calculation
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
Labels: part:docs, part:data-pipeline

#544 Add CI check that RELEASE_NOTES.md was updated
  .github/workflows/release_notes_check.yml
Labels: part:tooling, type:enhancement

#559 Prepare for release v0.23.0
  RELEASE_NOTES.md
  tests/timeseries/test_moving_window.py
Labels: part:docs, part:tests, type:enhancement

#520 Use `Timer.periodic` in the `Resampler`
  src/frequenz/sdk/timeseries/_resampling.py
  tests/timeseries/test_resampling.py
Labels: part:tests, type:tech-debt, part:data-pipeline, cmd:skip-release-notes

#560 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#416 Update `frequenz-api-microgrid` to v0.15.1
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  src/frequenz/sdk/microgrid/component/_component_states.py
  src/frequenz/sdk/power/_distribution_algorithm.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  tests/actor/test_battery_status.py
  tests/actor/test_data_sourcing.py
  tests/microgrid/mock_api.py
  tests/microgrid/test_client.py
  tests/microgrid/test_component.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_mock_api.py
  tests/microgrid/test_timeout.py
  tests/power/test_distribution_algorithm.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/utils/component_data_wrapper.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:power-distribution, part:actor, part:microgrid

#565 Improvements to the `ConfigManagingActor`
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_config_managing.py
  tests/actor/test_config_manager.py
Labels: part:docs, part:tests, part:actor

#537 Stream exclusion bounds from the battery pool
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/timeseries/battery_pool/__init__.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#571 Add docs cross-linking to APIs
  mkdocs.yml
  src/frequenz/sdk/microgrid/component/_component_data.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
Labels: part:docs, part:tooling, type:enhancement, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#562 Support exclusion bounds in power distributor
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/result.py
  src/frequenz/sdk/power/_distribution_algorithm.py
  tests/actor/test_power_distributing.py
  tests/power/test_distribution_algorithm.py
Labels: part:docs, part:tests, part:power-distribution, part:actor

#573 Update release notes for the v0.24.0 release
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#578 Fix ring buffer gap cleanup code
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline

#577 Amend deficit calculation in the power distributor
  src/frequenz/sdk/power/_distribution_algorithm.py
Labels: priority:low, part:power-distribution, cmd:skip-release-notes

#574 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#584 Support PV configurations with no or only some meters
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_producer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/mock_resampler.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline

#590 Some very small fixes
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
Labels: part:data-pipeline, part:actor, cmd:skip-release-notes

#589 Fix `consumer_power()` not working certain configurations.
  RELEASE_NOTES.md
  benchmarks/timeseries/benchmark_datasourcing.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_battery_status.py
  tests/actor/test_power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/mock_resampler.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, type:bug, part:data-pipeline

#595 Add depth first search for components
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_graph.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  tests/microgrid/test_graph.py
Labels: part:docs, part:tests, part:data-pipeline, part:microgrid

#597 [ci] Add test for installation in multiple architectures
  .github/containers/test-installation/Dockerfile
  .github/workflows/ci.yaml
Labels: part:tooling

#599 Improve formula generators
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_graph.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_producer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline, part:microgrid

#564 Implement BackgroundService and new Actor class
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  benchmarks/timeseries/benchmark_datasourcing.py
  benchmarks/timeseries/periodic_feature_extractor.py
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/_actor.py
  src/frequenz/sdk/actor/_background_service.py
  src/frequenz/sdk/actor/_config_managing.py
  src/frequenz/sdk/actor/_data_sourcing/data_sourcing.py
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/actor/_run_utils.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_periodic_feature_extractor.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/actor/test_actor.py
  tests/actor/test_background_service.py
  tests/actor/test_config_manager.py
  tests/actor/test_data_sourcing.py
  tests/actor/test_decorator.py
  tests/actor/test_resampling.py
  tests/actor/test_run_utils.py
  tests/conftest.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_periodic_feature_extractor.py
Labels: part:docs, part:tests, type:enhancement, part:data-pipeline, part:actor, part:microgrid

#605 Drop example to private PowerDistributor API
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
Labels: part:actor, cmd:skip-release-notes

#609 Improve consumer power formula
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
Labels: part:docs, part:data-pipeline

#607 Update high-level public interfaces to concrete types
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/actor/power_distributing/result.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/conftest.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor

#602 Improve error message for incorrect component graphs
  src/frequenz/sdk/microgrid/_graph.py
Labels: part:microgrid, cmd:skip-release-notes

#603 DataPipeline: Fix resampling/ds/power actors not started
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_actor.py
  src/frequenz/sdk/actor/_background_service.py
  src/frequenz/sdk/actor/_run_utils.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_moving_window.py
  tests/actor/test_actor.py
  tests/actor/test_background_service.py
  tests/microgrid/test_datapipeline.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid, cmd:skip-release-notes

#606 Add module to easily create component graphs
  tests/timeseries/mock_microgrid.py
  tests/utils/graph_generator.py
Labels: part:tests, cmd:skip-release-notes

#587 Upgrade to repo-config v0.5.2
  .cookiecutter-replay.json
  .editorconfig
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yml
  .github/workflows/release-notes-check.yml
  MANIFEST.in
  noxfile.py
  pyproject.toml
  src/conftest.py
Labels: part:tooling, type:tech-debt, cmd:skip-release-notes

#561 Add min and max operations to formula engine
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  tests/timeseries/_formula_engine/test_formula_composition.py
Labels: part:docs, part:tests, part:data-pipeline

#617 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#616 Store references to streaming tasks
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/client/_client.py
Labels: part:docs, part:microgrid

#610 Initialize a `Grid` object with a given `Fuse` limit
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/microgrid/component/__init__.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/microgrid/fuse.py
  src/frequenz/sdk/microgrid/grid.py
  tests/microgrid/mock_api.py
  tests/microgrid/test_client.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_grid.py
Labels: part:docs, part:tests, part:microgrid
