Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-05, with the labels that each got.

#337 Change power numeric types from int to float for consistency
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  examples/power_distribution.py
  src/frequenz/sdk/_internal/__init__.py
  src/frequenz/sdk/_internal/_asyncio.py
  src/frequenz/sdk/_internal/_math.py
  src/frequenz/sdk/_internal/_singleton_meta.py
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/actor/power_distributing/_battery_pool_status.py
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/actor/power_distributing/result.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/power/_distribution_algorithm.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/battery_pool/_component_metric_fetcher.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_state_tracker.py
  tests/actor/test_power_distributing.py
  tests/power/test_distribution_algorithm.py
  tests/timeseries/mock_microgrid.py
  tests/utils/component_data_streamer.py
Labels: part:docs, part:tests, part:data-pipeline, part:power-distribution, part:actor, part:core, part:microgrid

#374 Remove unused `component_graph` parameter in `LogicalMeter.__init__`
  RELEASE_NOTES.md
  examples/power_distribution.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:docs, part:data-pipeline, part:microgrid

#350 Update generated formulas to follow the new naming scheme
  src/frequenz/sdk/microgrid/_graph.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_chp_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_consumer_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_ev_charger_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests, part:data-pipeline, part:microgrid

#384 Validate docstring examples
  pyproject.toml
  src/conftest.py
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/power/_distribution_algorithm.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:tooling, part:data-pipeline, part:power-distribution, part:actor

#392 Remove unused `sympy` dependency from `pyproject.toml`
  pyproject.toml
Labels: part:tooling

#388 Use `ParamSpec` to improve typing for actor parameters
  src/frequenz/sdk/actor/_decorator.py
Labels: part:actor

#401 Drop support for Python versions older than 3.11
  .github/workflows/ci.yaml
  README.md
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/_resampling.py
Labels: part:docs, part:tooling, type:tech-debt, part:data-pipeline

#400 Log host:port when connecting to a microgrid
  src/frequenz/sdk/microgrid/connection_manager.py
Labels: part:microgrid

#381 Make interface for BatteryPool metrics consistent with power methods
  RELEASE_NOTES.md
  examples/battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/battery_pool/battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:docs, part:tests, part:data-pipeline
