Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2023-07, with the labels that each got.

#474 Limit pydantic to v1
  pyproject.toml
Labels: part:tooling

#475 Limit pydantic to v1
  noxfile.py
  pyproject.toml
Labels: part:tooling

#467 Remove unused `JUNCTION` and `LOAD` component categories
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_graph.py
  src/frequenz/sdk/microgrid/client/_client.py
  src/frequenz/sdk/microgrid/component/_component.py
  tests/actor/test_battery_status.py
  tests/actor/test_data_sourcing.py
  tests/actor/test_power_distributing.py
  tests/microgrid/test_client.py
  tests/microgrid/test_component.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_microgrid_api.py
  tests/microgrid/test_mock_api.py
  tests/microgrid/test_timeout.py
Labels: part:docs, part:tests, part:actor, part:microgrid

#476 Fix release notes and add a summary
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#478 Store a reference to the engine in receiver objects
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
Labels: part:docs, part:data-pipeline

#487 Add installation instructions
  README.md
  docs/index.md
Labels: part:docs

#484 Updated float("NaN") to math.nan
  src/frequenz/sdk/timeseries/_formula_engine/_formula_steps.py
  tests/actor/test_battery_status.py
  tests/actor/test_power_distributing.py
  tests/power/test_distribution_algorithm.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/utils/component_data_wrapper.py
Labels: part:tests, type:tech-debt, part:data-pipeline

#483 Add methods for sending individual mock component data messages in tests
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/mock_resampler.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_logical_meter.py
Labels: part:tests

#493 Clear release notes
  RELEASE_NOTES.md
Labels: type:tech-debt

#488 Migrate to repo-config
  .cookiecutter-replay.json
  .github/RELEASE_NOTES.template.md
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yml
  .gitignore
  CONTRIBUTING.md
  LICENSE
  README.md
  RELEASE_NOTES.md
  docs/SUMMARY.md
  docs/mkdocstrings_autoapi.py
  docs/overrides/main.html
  mkdocs.yml
  noxfile.py
  pyproject.toml
  src/conftest.py
  src/frequenz/sdk/actor/_config_managing.py
  src/frequenz/sdk/config/_config.py
  src/frequenz/sdk/timeseries/_periodic_feature_extractor.py
  tests/config/test_config.py
Labels: part:docs, part:tests, part:tooling, type:tech-debt, part:data-pipeline, part:actor, part:config

#503 Fix formatting bug for zero values
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:tests, priority:URGENT, type:bug, part:core

#505 Fix formatting bug for zero value Quantities
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#506 Add quantity class `Frequency`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/__init__.py
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#490 Update to channels 0.16.x
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/actor/_config_managing.py
  src/frequenz/sdk/actor/_decorator.py
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  tests/actor/test_battery_status.py
  tests/actor/test_decorator.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:actor

#515 Support negation of quantities
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:tests, part:data-pipeline

#514 Support float.inf and float.nan in quantities
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#489 Add from_receiver method to FormulaEngine
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  tests/timeseries/test_formula_engine.py
Labels: part:tests, type:enhancement, part:data-pipeline

#516 Add abs() support for quantities
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#512 Add capability to multiply quantities with percentage
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#527 Implement dunder iadd, isub, imul methods for Quantity
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:tests, part:data-pipeline

#525 Add constant to FormulaEngine arithmetic
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/_formula_engine/_formula_evaluator.py
  src/frequenz/sdk/timeseries/_formula_engine/_tokenizer.py
  tests/timeseries/_formula_engine/test_formula_composition.py
Labels: part:docs, part:tests, part:data-pipeline

#522 Add BatteryStatus tests to ensure it recovers automatically after issues
  src/frequenz/sdk/actor/power_distributing/_battery_status.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_battery_status.py
  tests/actor/test_power_distributing.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_logical_meter.py
  tests/utils/component_data_wrapper.py
Labels: part:tests, part:actor

#540 Update to repo-config v0.4.0
  .cookiecutter-replay.json
  .github/workflows/ci.yaml
  mkdocs.yml
  pyproject.toml
Labels: part:tooling, type:tech-debt
