Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-06, with the labels that each got.

#960 Improve code comment in power distribution to PV inverters
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
Labels: part:actor, cmd:skip-release-notes

#957 Support power requests from shifting actors in the PowerManager
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#955 Upgrade to microgrid client v0.4.0
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  benchmarks/timeseries/benchmark_datasourcing.py
  docs/tutorials/getting_started.md
  examples/battery_pool.py
  mkdocs.yml
  pyproject.toml
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_battery_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_pv_inverter_status_tracker.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/microgrid/connection_manager.py
  src/frequenz/sdk/timeseries/_voltage_streamer.py
  src/frequenz/sdk/timeseries/consumer.py
  src/frequenz/sdk/timeseries/grid.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/producer.py
  tests/actor/power_distributing/_component_status/test_battery_status.py
  tests/actor/power_distributing/_component_status/test_pv_inverter_status.py
  tests/actor/test_config_manager.py
  tests/actor/test_data_sourcing.py
  tests/microgrid/mock_api.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_microgrid_api.py
  tests/microgrid/test_mock_api.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
  tests/timeseries/test_resampling.py
  tests/timeseries/test_ringbuffer.py
  tests/timeseries/test_ringbuffer_serialization.py
  tests/utils/component_data_wrapper.py
  tests/utils/mock_microgrid_client.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:actor, part:microgrid

#969 Update ConfigManagingActor to send a dictionary
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/actor/_config_managing.py
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_config.py
  tests/actor/test_config_manager.py
  tests/config/__init__.py
  tests/config/test_config.py
Labels: part:docs, part:tests, part:tooling, part:actor, part:config

#971 Don't sleep on PowerDistributor startup
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:tests, part:actor, part:microgrid, cmd:skip-release-notes

#976 Stop using a deprecated way to replace the event loop in tests
  tests/actor/test_background_service.py
  tests/actor/test_resampling.py
  tests/actor/test_run_utils.py
  tests/microgrid/test_datapipeline.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/test_moving_window.py
  tests/timeseries/test_resampling.py
Labels: part:tests

#970 Rename parameter `in_shifting_group` → `set_operating_point`
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#974 Make some minor improvements for LastValueCache
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
Labels: type:tech-debt, part:data-pipeline, part:actor, part:core, cmd:skip-release-notes

#977 Prepare release notes for v1.0.0rc700
  RELEASE_NOTES.md
Labels: part:docs

#978 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#952 Update glossary
  docs/user-guide/glossary.md
Labels: part:docs

#979 Rename `microgrid.*_pool` constructors to `new_*_pool`
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  examples/battery_pool.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  tests/microgrid/test_datapipeline.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
  tests/timeseries/test_formula_formatter.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#980 Fix typing for composing constants with formula builders
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  tests/timeseries/_formula_engine/test_formula_composition.py
Labels: part:docs, part:tests, part:data-pipeline

#983 Filter out irrelevant logs when checking for expected logs
  tests/actor/test_actor.py
Labels: part:tests, type:tech-debt

#984 Properly keep references and await for concurrent tasks
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
Labels: part:docs, type:bug, part:actor

#962 Add contains function to Bounds and SystemBounds
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_base_types.py
  tests/timeseries/test_base_types.py
Labels: part:docs, part:tests, part:data-pipeline

#981 Cleanup `*Report` classes as simple protocols with only methods
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_result_types.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_result_types.py
Labels: type:tech-debt, part:data-pipeline, part:actor, cmd:skip-release-notes

#987 Improve naming for per-phase component metric streams
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_voltage_streamer.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/grid.py
  tests/microgrid/test_grid.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/test_voltage_streamer.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#989 Fix battery manager string representation
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
Labels: part:actor, cmd:skip-release-notes

#986 Update logical meter documentation
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:docs, part:data-pipeline

#991 Remove dependency to polars
  pyproject.toml
  src/frequenz/sdk/timeseries/_moving_window.py
Labels: part:tooling, type:tech-debt, part:data-pipeline, cmd:skip-release-notes
