Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-11, with the labels that each got.

#1093 Store the original `Component` and `Connection` in the component graph
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/timeseries/grid.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_grid.py
Labels: part:tests, type:tech-debt, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#1095 Implement and standardize logging configuration via config file
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_logging_config_updater.py
  tests/config/test_logging_config_updater.py
Labels: part:docs, part:tests, part:tooling, part:config

#1096 Bump dependency to 1.0.0rc3
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#1097 Add a function to load configurations with correct type hints
  RELEASE_NOTES.md
  mkdocs.yml
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_util.py
  tests/config/test_util.py
Labels: part:docs, part:tests, part:tooling, part:config

#1092 Improve `ComponentMetricsRequest` documentation
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_data_sourcing/_component_metric_request.py
Labels: part:docs, part:microgrid

#1098 Update bound-streaming channels to resend latest to new receivers
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool_reference_store.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool_reference_store.py
Labels: part:docs, part:data-pipeline

#1099 Prepare release notes for rc1100
  RELEASE_NOTES.md
Labels: part:docs

#1100 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1102 Check that load_config raises ValidationError if config is None
  tests/config/test_util.py
Labels: part:tests, cmd:skip-release-notes

#1103 Allow passing a `base_schema` to `load_config()`
  RELEASE_NOTES.md
  src/frequenz/sdk/config/_util.py
  tests/config/test_util.py
Labels: part:docs, part:tests, part:config, scope:breaking-change

#1106 Restore support for marshmallow_dataclass
  RELEASE_NOTES.md
  tests/config/test_util.py
Labels: part:docs, part:tests, part:config

#1107 Prepare release notes for next release
  RELEASE_NOTES.md
Labels: part:docs

#1108 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs

#1109 Update microgrid client to latest version
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/microgrid/connection_manager.py
  tests/microgrid/test_graph.py
  tests/microgrid/test_microgrid_api.py
Labels: part:docs, part:tests, part:tooling, part:microgrid

#1111 Update to repo-config v0.11.0
  .github/dependabot.yml
  pyproject.toml
  src/frequenz/sdk/actor/__init__.py
Labels: part:tooling, part:actor, cmd:skip-release-notes

#1112 Fix ConfigLoggingUpdater not changing root logging level
  RELEASE_NOTES.md
  src/frequenz/sdk/config/_logging_config_updater.py
Labels: part:docs, type:bug, part:config

#1115 Update release notes for release 1.0.0-rc1301
  RELEASE_NOTES.md
Labels: part:docs

#1117 Fix IndexError: list index out of range in resampler
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_resampling.py
Labels: part:docs, type:bug, part:data-pipeline

#1119 Small debugging enhancements
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/_resampling.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/_resampling.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_battery_power_formula.py
Labels: part:docs, part:data-pipeline, part:microgrid

#1116 Fix `ConfigManagingActor` raising unhandled exceptions when file doesn't exist
  RELEASE_NOTES.md
  src/frequenz/sdk/config/_config_managing.py
  tests/config/test_config_manager.py
Labels: part:docs, part:tests, priority:high, type:bug, part:config, scope:breaking-change

#1121 Prepare release notes for v1.0.0-rc1400
  RELEASE_NOTES.md
Labels: part:docs
