Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-03, with the labels that each got.

#894 Improve consistency between `*Pool`s
  RELEASE_NOTES.md
  benchmarks/timeseries/benchmark_ringbuffer.py
  examples/battery_pool.py
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_state_tracker.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/microgrid/fixtures.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:docs, part:tests, part:data-pipeline, part:core, part:microgrid

#895 Remove support for per-component interaction in EVChargerPool
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/timeseries/ev_charger_pool/__init__.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_state_tracker.py
  tests/timeseries/test_ev_charger_pool.py
Labels: part:docs, part:tests, part:data-pipeline, part:microgrid

#896 Add a `ComponentCategory` parameter to the `PowerDistributingActor`
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  tests/actor/power_distributing/_component_status/__init__.py
  tests/actor/power_distributing/_component_status/test_battery_pool_status.py
  tests/actor/power_distributing/_component_status/test_battery_status.py
  tests/actor/power_distributing/test_power_distributing.py
Labels: part:tests, part:actor, part:microgrid, cmd:skip-release-notes

#898 Bug fixes in the PowerManager and the BatteryPool
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
Labels: part:docs, part:data-pipeline, part:actor

#909 Widen the channels dependency to allow for the final 1.0.0 release
  pyproject.toml
Labels: part:tooling, type:tech-debt
