Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-12, with the labels that each got.

#1126 Reorganize the `config` module
  RELEASE_NOTES.md
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_logging_actor.py
  src/frequenz/sdk/config/_managing_actor.py
  tests/config/test_actor.py
  tests/config/test_logging_actor.py
Labels: part:docs, part:tests, type:enhancement, type:tech-debt, part:config, scope:breaking-change

#1127 Improve the logging config actor
  RELEASE_NOTES.md
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_logging_actor.py
  tests/config/test_logging_actor.py
Labels: part:docs, part:tests, type:enhancement, type:tech-debt, part:config, scope:breaking-change

#1131 Add load_shedding example
  examples/load_shedding.py
Labels: part:docs

#1133 Improve logging and API of the `config` module
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_actor.py
  src/frequenz/sdk/actor/_background_service.py
  src/frequenz/sdk/config/_logging_actor.py
  src/frequenz/sdk/config/_managing_actor.py
  src/frequenz/sdk/config/_util.py
  tests/actor/test_actor.py
  tests/config/test_util.py
Labels: part:docs, part:tests, part:actor, part:config
