Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-05, with the labels that each got.

#939 dependabot: Ignore time-machine >=2.13.0
  .github/dependabot.yml
Labels: part:tooling, type:bug

#941 dependabot: Ignore frequenz-api-microgrid >=0.16.0
  .github/dependabot.yml
Labels: part:tooling, type:tech-debt

#932 Fix references to EV charger in PV inverter modules and tests
  src/frequenz/sdk/actor/power_distributing/_component_status/_pv_inverter_status_tracker.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool_reference_store.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:tests, part:data-pipeline, part:actor, cmd:skip-release-notes

#943 Update release notes for rc6.post1
  RELEASE_NOTES.md
Labels: part:docs

#945 Don't recursively scan for pyproject.toml when calculating the cache key
  .github/workflows/ci.yaml
Labels: part:tooling, type:bug

#944 Always require a priority argument in calls to `microgrid.*_pool` methods
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  examples/battery_pool.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  tests/microgrid/test_datapipeline.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
  tests/timeseries/test_formula_formatter.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:actor, part:microgrid

#946 Set zero power for PV inverters not neccessary to reach target power
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#948 Code quality improvements in the `DataPipeline` and `*Pool` classes
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:tests, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#947 Add support for Python 3.12
  .github/containers/nox-cross-arch/arm64-ubuntu-20.04-python.Dockerfile
  .github/containers/test-installation/Dockerfile
  .github/workflows/ci.yaml
  README.md
  pyproject.toml
Labels: part:docs, part:tooling, cmd:skip-release-notes

#953 Miscelaneous improvements and fixes
  benchmarks/power_distribution/power_distributor.py
  examples/battery_pool.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  tests/actor/test_data_sourcing.py
Labels: part:docs, part:tests, part:tooling, type:bug, type:enhancement, part:actor, cmd:skip-release-notes
