Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-07, with the labels that each got.

#1000 Remove `request_timeout` parameter from `propose_power` methods
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/actor/power_distributing/request.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#998 Remove power distribution results from `Report` objects
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  src/frequenz/sdk/timeseries/battery_pool/_result_types.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool_reference_store.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_result_types.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool_reference_store.py
  src/frequenz/sdk/timeseries/pv_pool/_result_types.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/_power_managing/test_report.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:actor, part:core, part:microgrid

#1004 Remove extra comma from tutorial docs
  RELEASE_NOTES.md
  docs/tutorials/getting_started.md
Labels: part:docs

#1002 Switch to the `LatestValueCache` from the channels package
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:actor, part:core, part:microgrid, cmd:skip-release-notes

#1005 Fix ConfigManagingActor to handle relative paths
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_config_managing.py
  tests/actor/test_config_manager.py
Labels: part:docs, part:tests, priority:high, type:bug, part:actor

#1006 Fix microgrid API URL in example
  examples/battery_pool.py
Labels: part:docs, type:bug

#1007 Use a more descriptive channel name for the resampler
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/_component_metric_request.py
  src/frequenz/sdk/timeseries/_resampling.py
Labels: part:docs, part:data-pipeline, part:actor

#990 Expose `ComponentMetricId` in the public API
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/_data_sourcing/__init__.py
  src/frequenz/sdk/actor/_data_sourcing/_component_metric_request.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: part:docs, part:data-pipeline, part:actor

#1012 Force `grpclib` to be at least 0.4.8rc2
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#1011 Fix FormulaEngine typing
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
Labels: part:docs, part:data-pipeline

#1013 Use solipsism, time-machine in `*Pool` tests
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:tests, cmd:skip-release-notes

#1015 Fix PV power distribution
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:docs, part:tests, part:actor
