Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-04, with the labels that each got.

#883 Amend actor documentation
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/actor/_actor.py
Labels: part:actor, cmd:skip-release-notes

#900 Control methods for `EVChargerPool` using `PowerManager` and `PowerDistributor`
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_component_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_config.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_states.py
  src/frequenz/sdk/actor/power_distributing/_component_status/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_ev_charger_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  src/frequenz/sdk/timeseries/ev_charger_pool/__init__.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool_reference_store.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_result_types.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_system_bounds_tracker.py
  tests/actor/power_distributing/_component_status/test_battery_status.py
  tests/actor/power_distributing/_component_status/test_ev_charger_status.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/microgrid/fixtures.py
  tests/timeseries/_ev_charger_pool/__init__.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/mock_resampler.py
  tests/utils/receive_timeout.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#904 Warn if duplicate `*pool` instances are being created
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_data_pipeline.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#919 Some EV charger pool cleanup and fixes
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
Labels: part:tests, part:data-pipeline, part:actor, cmd:skip-release-notes

#914 Add a `PVPool` implementation
  RELEASE_NOTES.md
  benchmarks/power_distribution/power_distributor.py
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_status/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_pv_inverter_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/pv_pool/__init__.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool_reference_store.py
  src/frequenz/sdk/timeseries/pv_pool/_result_types.py
  src/frequenz/sdk/timeseries/pv_pool/_system_bounds_tracker.py
  tests/actor/power_distributing/_component_status/test_pv_inverter_status.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/_pv_pool/__init__.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
  tests/timeseries/test_formula_formatter.py
  tests/timeseries/test_logical_meter.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:core, part:microgrid

#924 Prepare release notes for the v1.0.0-rc6 release
  RELEASE_NOTES.md
Labels: part:docs

#923 Log when no relevant samples are found for resampling
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_resampling.py
Labels: part:docs, part:tests, part:data-pipeline, cmd:skip-release-notes

#925 Update microgrid client to v0.3
  RELEASE_NOTES.md
  pyproject.toml
  tests/utils/component_data_wrapper.py
Labels: part:docs, part:tests, part:tooling

#927 Fix reactive power retrieval
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  tests/actor/test_data_sourcing.py
Labels: part:docs, part:tests, part:actor

#926 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#930 Ignore pylint check to be able to release
  RELEASE_NOTES.md
  tests/actor/test_data_sourcing.py
Labels: part:docs, part:tests, type:bug
