Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-10, with the labels that each got.

#1082 Add polling parameters to ConfigManagingActor
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/config/_config_managing.py
  tests/actor/test_config_manager.py
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:docs, part:tests, part:tooling, part:config

#1085 Remove redundant check in BatteryPool tests
  tests/timeseries/_battery_pool/test_battery_pool.py
Labels: part:tests

#1081 Improve resiliency of long-running async tasks
  RELEASE_NOTES.md
  src/frequenz/sdk/_internal/_asyncio.py
  src/frequenz/sdk/microgrid/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_status/_ev_charger_status_tracker.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_status/_pv_inverter_status_tracker.py
  src/frequenz/sdk/microgrid/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_system_bounds_tracker.py
  src/frequenz/sdk/timeseries/pv_pool/_system_bounds_tracker.py
Labels: part:docs, part:tests, part:data-pipeline, part:core, part:microgrid

#1088 Clean some duplicated and unused code
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/microgrid/connection_manager.py
  tests/microgrid/test_graph.py
Labels: part:tests, part:microgrid, cmd:skip-release-notes

#1089 Prepare for v1.0.0-rc1000
  RELEASE_NOTES.md
Labels: part:docs

#1091 config: Allow reading from multiple files
  RELEASE_NOTES.md
  src/frequenz/sdk/config/_config_managing.py
  tests/actor/test_config_manager.py
  tests/config/test_config_manager.py
Labels: part:docs, part:tests, part:config
