Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-01, with the labels that each got.

#809 Add missing type hints to instance members
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/_grid_frequency.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/formula_engine/_resampled_formula_builder.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
Labels: type:tech-debt, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#807 Fix bug in `GridFrequency` quantity conversion
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_grid_frequency.py
  tests/timeseries/mock_resampler.py
  tests/timeseries/test_frequency_streaming.py
  tests/utils/component_data_wrapper.py
Labels: part:docs, part:tests, priority:high, type:bug, part:data-pipeline

#838 Improve (and fix some) test finalization
  pyproject.toml
  tests/actor/power_distributing/test_power_distributing.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_battery_status.py
  tests/microgrid/test_grid.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/test_ev_charger_pool.py
  tests/timeseries/test_formula_formatter.py
  tests/timeseries/test_frequency_streaming.py
  tests/timeseries/test_logical_meter.py
  tests/timeseries/test_voltage_streamer.py
Labels: part:tests, part:tooling

#830 Make the registry type-aware
  RELEASE_NOTES.md
  benchmarks/timeseries/benchmark_datasourcing.py
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/_channel_registry.py
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/_resampling.py
  src/frequenz/sdk/timeseries/_base_types.py
  src/frequenz/sdk/timeseries/_grid_frequency.py
  src/frequenz/sdk/timeseries/_voltage_streamer.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_resampled_formula_builder.py
  tests/actor/test_channel_registry.py
  tests/actor/test_data_sourcing.py
  tests/actor/test_resampling.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/mock_resampler.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:core

#843 Improve BatteryPool's SoC accuracy at the edges
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
Labels: part:data-pipeline, cmd:skip-release-notes

#839 Some component status cleanup
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_pool_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/_component_status/__init__.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_battery_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_component_status.py
  tests/actor/test_battery_pool_status.py
  tests/actor/test_battery_status.py
Labels: part:tests, type:tech-debt, part:actor, cmd:skip-release-notes

#845 Drop old propsals from the PowerManager
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_power_managing/_base_classes.py
  src/frequenz/sdk/actor/_power_managing/_matryoshka.py
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  tests/actor/_power_managing/test_matryoshka.py
Labels: part:docs, part:tests, type:bug, part:data-pipeline, part:actor

#848 Improvements to EVChargerData coming from the microgrid API
  src/frequenz/sdk/microgrid/component/_component_data.py
  tests/utils/component_data_wrapper.py
Labels: part:tests, part:microgrid, cmd:skip-release-notes

#846 Use a sentinel in `LatestValueCache` to denote if the cache is empty
  src/frequenz/sdk/_internal/_channels.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
Labels: part:data-pipeline, part:actor, part:core, cmd:skip-release-notes

#799 Move consumer and producer formulas out from logical meter
  RELEASE_NOTES.md
  docs/user-guide/glossary.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/timeseries/consumer.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/logical_meter/_logical_meter.py
  src/frequenz/sdk/timeseries/producer.py
  tests/timeseries/test_consumer.py
  tests/timeseries/test_logical_meter.py
  tests/timeseries/test_producer.py
Labels: part:docs, part:tests, part:data-pipeline, part:microgrid
