Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-02, with the labels that each got.

#824 Parse Quantity Strings
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline

#855 Bump frequenz-api-microgrid to 0.15.3
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling, type:tech-debt

#869 Remove unused type stubs
  pyproject.toml
Labels: part:tooling, type:tech-debt, cmd:skip-release-notes

#870 Add release notes summary for the release
  RELEASE_NOTES.md
Labels: part:docs

#871 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#847 Fetch and stream 3-phase power
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/microgrid/component/_component.py
  src/frequenz/sdk/microgrid/component/_component_data.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/__init__.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_grid_current_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_grid_power_3_phase_formula.py
  src/frequenz/sdk/timeseries/grid.py
  tests/microgrid/test_component_data.py
  tests/microgrid/test_grid.py
  tests/timeseries/mock_resampler.py
  tests/utils/component_data_wrapper.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor, part:microgrid

#873 Remove remaining traces of darglint
  .darglint
  src/frequenz/sdk/actor/_background_service.py
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_resampling.py
Labels: part:tooling, type:tech-debt, cmd:skip-release-notes

#874 Make sure `base_value` is always `float`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#877 Remove the last reference to darglint
  src/frequenz/sdk/actor/_resampling.py
Labels: type:enhancement, type:tech-debt, part:actor, cmd:skip-release-notes

#879 Mock resampler: Improve variable names
  tests/timeseries/mock_resampler.py
Labels: part:tests, type:tech-debt

#875 Allow multiplying `Quantity` by `float`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, type:enhancement, part:data-pipeline

#878 Remove unnecessary send adapter
  src/frequenz/sdk/actor/_resampling.py
Labels: type:tech-debt, part:actor, cmd:skip-release-notes

#876 Allow all quantities division by `float | Self`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_quantities.py
  tests/timeseries/test_quantities.py
Labels: part:docs, part:tests, part:data-pipeline

#881 Cleanup and modularization of Power Manager, Power Distributor and DataPipeline
  src/frequenz/sdk/actor/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_battery_status_tracker.py
  src/frequenz/sdk/actor/power_distributing/_component_status/_blocking_status.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  src/frequenz/sdk/timeseries/_base_types.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/microgrid/test_datapipeline.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:tests, part:data-pipeline, part:actor, part:microgrid, cmd:skip-release-notes

#730 More updates for n:m support - battery pool's power formula
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_battery_power_formula.py
  tests/actor/power_distributing/test_power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/utils/graph_generator.py
Labels: part:docs, part:tests, part:data-pipeline

#886 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
