Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-08, with the labels that each got.

#1020 Fixes to the PowerDistributingActor
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
Labels: part:docs, part:tests, part:actor

#1029 Make actor example loop forever
  src/frequenz/sdk/actor/__init__.py
Labels: part:actor, cmd:skip-release-notes

#1027 Handle `CancelledError`s properly
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/_data_sourcing/microgrid_api_source.py
  src/frequenz/sdk/actor/_resampling.py
  tests/timeseries/mock_microgrid.py
Labels: part:docs, part:tests, part:actor

#1028 Fix PV inverters power distribution
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
Labels: part:docs, type:bug, part:actor, part:power-distribution

#1023 Prevent stacking of power requests
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/power_distributing.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
Labels: part:docs, part:tests, priority:high, part:actor

#1034 Fix gap in ring buffer when updating missing values
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, part:data-pipeline, part:actor

#1035 Fix exit-on-timeout issue in PowerDistributor
  RELEASE_NOTES.md
  src/frequenz/sdk/actor/power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/actor/power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
Labels: part:docs, part:actor

#1040 Fix grammar in release notes
  RELEASE_NOTES.md
Labels: part:docs

#1043 Fix glossary links and restrict `mkdocs-autorefs` updates
  docs/user-guide/glossary.md
  pyproject.toml
Labels: part:docs, part:tooling, type:bug

#1042 Merge v1.0.0-rc6xx into v1.x.x
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_ringbuffer.py
Labels: part:docs, part:tests, type:bug, part:data-pipeline, part:microgrid

#1046 Prepare release notes for v1.0.0-rc800
  RELEASE_NOTES.md
Labels: part:docs

#1047 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1049 Merge v1.0.0-rc7xx into v1.x.x
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#1050 Allow setting `api_power_request_timeout` in `microgrid.initialize()`
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/__init__.py
Labels: part:docs, part:microgrid

#1037 Fallback components in generated formulas
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_battery_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_consumer_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_fallback_formula_metric_fetcher.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_formula_generator.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_grid_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_producer_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_pv_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_simple_power_formula.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_steps.py
  src/frequenz/sdk/timeseries/formula_engine/_resampled_formula_builder.py
  tests/microgrid/test_grid.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/mock_microgrid.py
  tests/timeseries/mock_resampler.py
  tests/timeseries/test_consumer.py
  tests/timeseries/test_formula_formatter.py
  tests/timeseries/test_logical_meter.py
  tests/timeseries/test_producer.py
  tests/utils/graph_generator.py
Labels: part:docs, part:tests, priority:high, type:enhancement, part:data-pipeline

#1059 Bump frequenz-repo-config to 0.10.0
  .github/workflows/ci.yaml
  .github/workflows/release-notes-check.yml
  mkdocs.yml
  pyproject.toml
Labels: part:tooling, type:tech-debt

#1060 Make dependabot do minor updates for the microgrid client separately
  .github/dependabot.yml
Labels: part:tooling, type:tech-debt

#1061 Revert "Change receiver limit in mock_resampler"
  tests/timeseries/mock_resampler.py
Labels: part:tests, type:bug, cmd:skip-release-notes

#1057 Bump the `frequenz-client-microgrid` dependency to `0.5.0`
  RELEASE_NOTES.md
  mkdocs.yml
  pyproject.toml
  src/frequenz/sdk/actor/__init__.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_ev_charger_manager/_ev_charger_manager.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  tests/microgrid/test_microgrid_api.py
Labels: part:docs, part:tests, part:tooling, type:tech-debt, part:actor, part:microgrid, scope:breaking-change

#1062 Remove the redundant `--platform=${TARGETPLATFORM}` in `Dockerfile`
  .github/containers/test-installation/Dockerfile
Labels: part:tooling
