Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2024-09, with the labels that each got.

#1051 Unpin mkdocs-autorefs and fix multple URLs for warnings
  docs/user-guide/formula-engine.md
  mkdocs.yml
  pyproject.toml
  src/frequenz/sdk/timeseries/formula_engine/__init__.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
Labels: part:docs, part:tooling, part:data-pipeline, part:actor, cmd:skip-release-notes

#1068 Bump `frequenz-client-microgrid` to 0.5.1
  pyproject.toml
Labels: part:tooling, type:bug

#1069 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1074 Create FileWatcher when ConfigManagingActor runs
  RELEASE_NOTES.md
  src/frequenz/sdk/config/_config_managing.py
Labels: part:docs, part:config

#1076 Prepare release notes for rc901
  RELEASE_NOTES.md
Labels: part:docs

#1077 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
