Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2025-05, with the labels that each got.

#1212 Reset components to default power when all proposals are withdrawn
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/__init__.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_managing/_base_classes.py
  src/frequenz/sdk/microgrid/_power_managing/_matryoshka.py
  src/frequenz/sdk/microgrid/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/_power_managing/_shifting_matryoshka.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/_power_managing/test_shifting_matryoshka.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:docs, part:tests, part:microgrid

#1204 Update the logging config actor configuration format
  RELEASE_NOTES.md
  mkdocs.yml
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_logging_actor.py
  tests/config/test_logging_actor.py
  tests/config/test_manager.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:config, scope:breaking-change

#1215 Allow create PVPool instances in locations without PV
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool_reference_store.py
Labels: part:docs, part:data-pipeline

#1214 Use `Power` instead of `float` in PowerDistributor's battery manager
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/microgrid/_power_distributing/_distribution_algorithm/_battery_distribution_algorithm.py
  src/frequenz/sdk/microgrid/_power_distributing/result.py
  src/frequenz/sdk/timeseries/battery_pool/_metric_calculator.py
  tests/microgrid/power_distributing/test_battery_distribution_algorithm.py
  tests/microgrid/power_distributing/test_power_distributing.py
Labels: part:tests, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#1216 Ensure root component is as close as possible to the grid component
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/timeseries/_grid_frequency.py
  src/frequenz/sdk/timeseries/_voltage_streamer.py
  tests/microgrid/test_graph.py
Labels: part:docs, part:tests, part:data-pipeline, part:microgrid

#1217 Fix `succeeded_power` calculation in PV power distribution
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_pv_inverter_manager/_pv_inverter_manager.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:docs, part:tests, part:microgrid

#1218 Prepare for v1.0.0-rc1900
  RELEASE_NOTES.md
Labels: part:docs

#1220 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1222 Add missing PV and EV components to datapipeline's `stop` method
  src/frequenz/sdk/microgrid/_data_pipeline.py
  tests/timeseries/_battery_pool/test_battery_pool_control_methods.py
  tests/timeseries/_ev_charger_pool/test_ev_charger_pool_control_methods.py
  tests/timeseries/_pv_pool/test_pv_pool_control_methods.py
Labels: part:tests, part:microgrid, cmd:skip-release-notes

#1224 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#1225 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs
