Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2025-04, with the labels that each got.

#1186 Update to repo-config v0.13
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  docs/_scripts/macros.py
  pyproject.toml
Labels: part:docs, part:tooling, type:tech-debt, cmd:skip-release-notes

#1196 Log power allocations per actor in the PowerManager
  src/frequenz/sdk/microgrid/_power_managing/_shifting_matryoshka.py
Labels: part:microgrid, cmd:skip-release-notes

#1197 Prepare for release v1.0.0-rc1800
  RELEASE_NOTES.md
Labels: part:docs

#1198 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1199 Don't stop pools
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool.py
Labels: part:docs, part:data-pipeline

#1200 Prepare for release v1.0.0-rc1801
  RELEASE_NOTES.md
Labels: part:docs

#1201 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1202 Use the additive `ShiftingMatryoshka` algorithm only for batteries
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_data_pipeline.py
  src/frequenz/sdk/microgrid/_power_managing/_power_managing_actor.py
  src/frequenz/sdk/microgrid/_power_wrapper.py
Labels: part:docs, part:microgrid

#1203 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
