Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2025-01, with the labels that each got.

#1141 Fix cross-arch CI tests
  .github/containers/nox-cross-arch/arm64-ubuntu-20.04-python.Dockerfile
  .github/workflows/ci.yaml
Labels: part:tooling, cmd:skip-release-notes

#1134 Revamp config management
  RELEASE_NOTES.md
  docs/user-guide/config.md
  mkdocs.yml
  pyproject.toml
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_base_schema.py
  src/frequenz/sdk/config/_logging_actor.py
  src/frequenz/sdk/config/_manager.py
  src/frequenz/sdk/config/_managing_actor.py
  tests/config/test_logging_actor.py
  tests/config/test_manager.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:actor, part:config

#1149 Move default `unknown=EXCLUDE` to `BaseConfigSchema`
  RELEASE_NOTES.md
  src/frequenz/sdk/config/__init__.py
  src/frequenz/sdk/config/_base_schema.py
  src/frequenz/sdk/config/_manager.py
  src/frequenz/sdk/config/_util.py
  tests/config/test_logging_actor.py
  tests/config/test_util.py
Labels: part:docs, part:tests, part:config

#1151 Remove "Checking battery" log message
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_battery_manager.py
Labels: part:docs, part:microgrid

#1152 Disable warn on overflow in config channel receivers
  pyproject.toml
  src/frequenz/sdk/config/_manager.py
  src/frequenz/sdk/microgrid/_data_pipeline.py
Labels: part:tooling, type:enhancement, part:microgrid, part:config, cmd:skip-release-notes

#1150 Close all *pool's receivers when stopping the pool
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/battery_pool/_battery_pool_reference_store.py
  src/frequenz/sdk/timeseries/battery_pool/_component_metric_fetcher.py
  src/frequenz/sdk/timeseries/battery_pool/_methods.py
  src/frequenz/sdk/timeseries/ev_charger_pool/_ev_charger_pool_reference_store.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/pv_pool/_pv_pool_reference_store.py
Labels: part:docs, part:tooling, part:data-pipeline

#1154 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1155 Drop empty Matryoshka buckets
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_power_managing/_matryoshka.py
  tests/actor/_power_managing/test_matryoshka.py
Labels: part:docs, part:tests, part:microgrid

#1153 Rewrite CI: use reusable actions, native arm and faster PR testing
  .github/workflows/ci-pr.yaml
  .github/workflows/ci-push.yaml
Labels: part:tooling, type:tech-debt
