Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2025-03, with the labels that each got.

#1171 Update build status badge
  README.md
Labels: part:docs, cmd:skip-release-notes

#1179 Avoid creating dangling `MetricFetcher`s
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
Labels: type:bug, part:data-pipeline

#1177 Fix ordering issues with `set`s of `int`s
  src/frequenz/sdk/microgrid/_power_distributing/_distribution_algorithm/_battery_distribution_algorithm.py
  src/frequenz/sdk/microgrid/_power_managing/_matryoshka.py
  src/frequenz/sdk/microgrid/component_graph.py
  tests/actor/_power_managing/test_matryoshka.py
  tests/actor/power_distributing/test_battery_distribution_algorithm.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/test_formula_formatter.py
Labels: part:tests, type:bug, part:microgrid, cmd:skip-release-notes

#1178 Improve docs and tests and fix minor issues
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_battery_manager.py
  src/frequenz/sdk/microgrid/component_graph.py
  src/frequenz/sdk/timeseries/battery_pool/_component_metrics.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_formatter.py
  tests/microgrid/power_distributing/__init__.py
  tests/microgrid/power_distributing/_component_status/__init__.py
  tests/microgrid/power_distributing/_component_status/test_battery_pool_status.py
  tests/microgrid/power_distributing/_component_status/test_battery_status.py
  tests/microgrid/power_distributing/_component_status/test_ev_charger_status.py
  tests/microgrid/power_distributing/_component_status/test_pv_inverter_status.py
  tests/microgrid/power_distributing/test_battery_distribution_algorithm.py
  tests/microgrid/power_distributing/test_power_distributing.py
  tests/microgrid/test_data_sourcing.py
  tests/timeseries/test_producer.py
Labels: part:tests, type:enhancement, type:tech-debt, part:data-pipeline, part:microgrid, cmd:skip-release-notes

#1181 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
