Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2025-02, with the labels that each got.

#1159 Add a `wait_for_samples` method to the `MovingWindow`
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/_moving_window.py
  src/frequenz/sdk/timeseries/_ringbuffer/buffer.py
  tests/timeseries/test_moving_window.py
Labels: part:docs, part:tests, part:data-pipeline

#1161 Don't fallback to CHPs
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_formula_generator.py
Labels: part:docs, part:data-pipeline

#1163 Prepare release notes for rc1600
  RELEASE_NOTES.md
Labels: part:docs

#1165 Stop formula engine
  RELEASE_NOTES.md
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine_pool.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_generators/_fallback_formula_metric_fetcher.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_steps.py
  tests/microgrid/test_grid.py
  tests/timeseries/_battery_pool/test_battery_pool.py
  tests/timeseries/_formula_engine/test_formula_composition.py
  tests/timeseries/test_consumer.py
  tests/timeseries/test_formula_engine.py
  tests/timeseries/test_producer.py
Labels: part:docs, part:tests, priority:high, type:enhancement, part:data-pipeline

#1167 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#1164 mypy: Check all files by default
  pyproject.toml
  src/frequenz/sdk/timeseries/ev_charger_pool/_set_current_bounds.py
Labels: part:tooling, part:data-pipeline, cmd:skip-release-notes

#1170 Prepare release notes for rc1700
  RELEASE_NOTES.md
Labels: part:docs
