Repository frequenz-floss/frequenz-sdk-python, pull requests merged in 2025-06, with the labels that each got.

#1232 Bug fix: Print Power as str instead of decimal
  RELEASE_NOTES.md
  src/frequenz/sdk/microgrid/_power_distributing/_component_managers/_battery_manager.py
Labels: part:docs, type:bug, part:microgrid

#1235 Fix test typing
  tests/config/test_util.py
Labels: part:docs, part:tests, part:tooling, part:data-pipeline, part:actor, part:core, part:microgrid, cmd:skip-release-notes

#1239 CI cleanup fixes
  pyproject.toml
  src/frequenz/sdk/_internal/_asyncio.py
  src/frequenz/sdk/actor/_actor.py
  src/frequenz/sdk/microgrid/_power_distributing/_component_status/_battery_status_tracker.py
  src/frequenz/sdk/timeseries/_voltage_streamer.py
  src/frequenz/sdk/timeseries/formula_engine/_formula_engine.py
Labels: part:tooling, part:data-pipeline, part:actor, part:core, part:microgrid, cmd:skip-release-notes
